bin/
obj/
out/
.idea/
*.iml
*.user
*.suo
*.userprefs
*.log
.DS_Store
.AppleDouble
.LSOverride
._*
*.exe
*.dll
*.pdb
*.mdb
*.class
*.cache
*.bak
*.tmp
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/
.idea/.idea.*
.idea/.idea
.idea/.idea_modules
.idea/.idea_config
.idea/.dotCover
_ReSharper*/
*.DotSettings.user
*.swp
*.swo

